# http://editorconfig.org
root = true


# --------------------------
# 全局通用配置（所有文件生效）
# --------------------------
[*]
# charset = utf-8                 # 强制 UTF-8 编码
# end_of_line = lf                # Unix 风格换行符（推荐跨平台使用）
# indent_style = space            # 使用空格而非 Tab
# trim_trailing_whitespace = true # 自动删除行尾空格
# insert_final_newline = true     # 文件末尾自动添加空行

# --------------------------
# 文件类型差异化配置
# --------------------------
# 前端类文件 (JS/TS/JSON/HTML/CSS)
[*.{js,ts,jsx,tsx,json,html,css,scss}]
indent_size = 2                 # 2 空格缩进
charset = utf-8                 # 强制 UTF-8 编码
end_of_line = lf                # Unix 风格换行符（推荐跨平台使用）
indent_style = space            # 使用空格而非 Tab
trim_trailing_whitespace = true # 自动删除行尾空格
insert_final_newline = true     # 文件末尾自动添加空行

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[Version]
insert_final_newline = false
