/backend/backend
*.exe

.idea
.cursorrules
.editorconfig
.vscode
.DS_Store

# frontend
**/node_modules
**/build
**/dist
**/.turbo
**/.vite
.vscode
# AGENTS.md
backend/.env
**/*.local
**/.__mf__temp
**/properties-output
**/.env
**/.env.production
.trae
deploy/localtest/
deploy/mount/node-red/.npm/
deploy/mount/eventflow/.npm/
deploy/mount/grafana/data/plugins/golioth-websocket-datasource/
deploy/mount/grafana/data/plugins/grafana-mqtt-datasource/
deploy/mount/kong/kong_config.yml
deploy/mount/postgresql/init-scripts/create_keycloak_database.sql
