.emptyDetail-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .detailInfo-list {
    list-style: inside;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--ui-line-color);
    border-radius: 3px;
    padding: 20px 30px;

    .detailInfo-list-item {
      display: inline-flex;
      align-items: center;
      border-bottom: 1px solid var(--ui-line-color);
      padding-bottom: 10px;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      :global {
        .ant-tag {
          color: var(--ui-theme-color);
          border-color: var(--ui-theme-color);
          background-color: var(--ui-primary-bg);
          display: flex;
          align-items: center;
        }

        .icon-arrow {
          margin: 0 10px 0 0;
          font-size: 12px;
          color: #6f6f6f;
        }

        .tag-info {
          color: #6f6f6f;
          padding: 0 4px;
          font-weight: 500;
        }
      }
    }
  }
}
