.container {
  background-color: var(--ui-bg-color);
  box-shadow: 1px 1px 10px 2px var(--ui-boxshadow-color);
}

.list-item {
  cursor: pointer;
  padding: 0 8px;

  &:hover {
    background-color: var(--ui-t-card-hover-bg);
  }
}

.selected {
  background-color: var(--ui-select-card-color);
}
