.custom-menu-header {
  border-bottom: 1px solid var(--ui-line-color, #e0e0e0);
  border-left: 0;
  background: var(--ui-bg-color, #fff);
  height: var(--ui-bar-height, 52px);
  flex-shrink: 0;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;

  .custom-menu-header-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
  }

  .header {
    flex-shrink: 0;
    max-width: var(--ui-bar-height, 52px);
    padding-left: 0;
    color: var(--color-font);
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    img {
      vertical-align: middle;
    }

    .title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 1.1;
    }

    .menu-toggle {
      align-items: center;
      justify-content: center;
      width: var(--ui-bar-height, 52px);
      height: var(--ui-bar-height, 52px);
      cursor: pointer;
      margin-right: 10px;
      margin-left: 0;

      &:hover {
        background-color: rgb(141 141 141 / 12%);
      }

      &:active {
        background-color: rgb(141 141 141 / 50%);
      }
    }
  }

  .content {
    flex: 1;
    overflow: hidden;
    display: none;
    justify-content: flex-start;
    align-items: center;

    .tabs {
      width: 100%;
      overflow: hidden;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 20px;
      box-sizing: border-box;
    }
  }

  .footer {
    flex-shrink: 0;
    height: 100%;
    padding-right: 20px;
    box-sizing: border-box;

    .icon-wrapper {
      color: var(--ui-text-color) !important;
    }
  }
}

// .ant-menu-title-content {
//   display: inline-flex;
//   align-items: center;
// }

.user-guide-icon {
  color: var(--ui-text-color);
  font-size: 16px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.custom-menu-header-drawer-root {
  top: var(--ui-bar-height, 52px);
  height: calc(100vh - var(--ui-bar-height, 52px));
  color: var(--ui-text-color);
}

.custom-menu-header-drawer {
  .ant-drawer-body {
    padding: 0;

    .ant-menu-item {
      align-items: flex-start;
    }

    .ant-menu-submenu-title {
      align-items: flex-start;
    }
  }

  .ant-drawer-header {
    display: none;
  }

  .ant-drawer-content-wrapper {
    top: var(--ui-bar-height, 52px);
  }
}

.custom-menu-popover {
  .ant-menu.ant-menu-sub.ant-menu-vertical {
    max-height: 50vh;
  }
}

.ant-menu-submenu-popup .ant-menu-vertical .ant-menu-item,
.ant-menu-submenu-popup .ant-menu-vertical .ant-menu-submenu-title {
  min-width: calc(100% - 8px);
  width: max-content;
}
