.keyIndexBtn {
  .MainKey {
    color: #8d8d8d;
  }

  &:hover {
    .MainKey {
      color: var(--ui-theme-color);
    }
  }

  &:disabled {
    .MainKey {
      color: #8d8d8d;
    }
  }
}

.activeKeyIndexBtn {
  background: var(--ui-select-active-color) !important;

  .MainKey {
    color: var(--ui-theme-color);
  }

  &:hover {
    .MainKey {
      color: #8d8d8d;
    }
  }
}
