.roleName {
  font-weight: 600;
  color: var(--ui-text-color);
}

.accessTag {
  background: var(--ui-primary-bg);
  border: none;
  color: var(--ui-theme-color);
  padding: 2px 8px;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  border-radius: 60px;
}
