.container {
  width: 100%;

  &.hasLabel {
    padding: 16px;
    background: var(--ui-tag-color);
  }

  div.content {
    padding: 0;
    border-radius: 3px;
    border: 1px solid var(--ui-line-color);
  }
}
