.field {
  display: flex;
  flex-direction: column;
  gap: 6px;

  :global(.ant-form-item) {
    margin-bottom: 16px;
  }
}

.labelRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  color: #0f172a;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.required {
  color: #ef4444;
}

.count {
  color: #878787;
  font-size: 12px;
}

.countError {
  color: #ef4444;
  font-size: 12px;
}
