.container {
  background: var(--ui-switchwrap-active-bg-color);
  border: 1px solid var(--ui-line-color);
  border-radius: 3px;

  :global {
    .com-copy-content .label {
      width: 120px;
    }
  }

  .demoBox {
    border: 0;
  }
}
