.com-dragger-upload {
  .ant-upload-drag {
    height: 250px;
    border-radius: 4px;
    border: none;
    background: var(--ui-charttop-bg-color);
  }

  .ant-upload-list {
    max-height: 300px;
    overflow-y: auto;

    .ant-upload-list-item-container {
      overflow: hidden;
    }
  }
}

.dark,
.chartreuseDark {
  .com-dragger-upload {
    .ant-upload-drag {
      border-radius: 3px;
      border: 1px dashed var(--ui-control-border);

      &:hover {
        border-color: var(--ui-theme-color);
      }
    }
  }
}
