.form {
  overflow: visible;

  :global(.ant-form-item-control-input),
  :global(.ant-form-item-control-input-content) {
    overflow: visible;
  }
}

.flowTypeRadio {
  padding: 2px 4px;
  overflow: visible;

  :global(.custom-radio-container .ant-radio-group) {
    overflow: visible;
  }

  :global(.custom-radio-container .ant-radio-wrapper:first-child .ant-radio-input:focus + .ant-radio-inner),
  :global(.custom-radio-container .ant-radio-wrapper:first-child .ant-radio-input:focus-visible + .ant-radio-inner) {
    outline-offset: 2px;
  }
}
